/* Nav-brand */

@keyframes soft {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.1);
  }
}

/* Fade in */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes border-animation {
  0% {
    clip-path: polygon(0 0, 0 0, 0 0, 0 0);
  }
  25% {
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }
  50% {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 100% 100%);
  }
  75% {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
  100% {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%, 0 0);
  }
}

@keyframes color-animation {
  0% {
    border-color: rgba(204, 212, 204, 0.582);
  }
  25% {
    border-color: rgba(180, 100, 204, 0.582);
  }
  50% {
    border-color: rgba(120, 212, 204, 0.582);
  }
  75% {
    border-color: rgba(80, 212, 204, 0.582);
  }
  100% {
    border-color: rgba(6, 1, 17, 0.822);
  }
}
