body {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.menu {
  background: tomato;
  padding: 20px;
}

.navbar {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.nav-center {
  display: flex;
  flex-wrap: wrap;
}

.nav-brand a {
  font-size: 2.25rem;
  font-weight: bold;
  color: #ffe;
}

.nav-item {
  padding: 0 30px;
}

.nav-link,
.nav-profile {
  font-size: 1.25rem;
  color: #ffe;
  font-weight: bold;
}

[data-dropdown] {
  position: relative;
}

[data-dropdown] .dropdown {
  display: none;
}

[data-dropdown]:hover .dropdown,
[data-dropdown].active .dropdown {
  display: block;
}

.dropdown {
  position: absolute;
  border: 1px solid black;
  background: tomato;
  padding: 8px 20px;
  top: 26px;
}

.dropdown li {
  padding: 5px 0px;
}

.dropdown li a {
  color: #ffe;
}

/* menu mobile */

[data-menu="button"] {
  display: none;
}

/* Responsive */
@media (max-width: 800px) {
  [data-menu="button"] {
    background: #222;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    text-transform: uppercase;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
    margin: 15px 0px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
    height: 40px;
  }

  [data-menu="button"]::before {
    content: "";
    display: inline-block;
    height: 2px;
    width: 20px;
    background: #fff;
    box-shadow: 0 5px #fff, 0 -5px #fff;
    transition: transform 0.3s;
  }

  [data-menu="button"].active::before {
    transform: rotate(90deg);
  }

  [data-menu="list"] {
    display: none;
    position: absolute;
    background: tomato;
    width: 160px;
    z-index: 200;
    top: 0;
    padding: 60px 0 20px 0;
    box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.2);
  }

  [data-menu="list"].active {
    display: block;
  }

  .dropdown {
    position: static;
    border: none;
  }

  [data-dropdown] {
    width: 100%;
  }

  .nav-brand {
    padding: 2px 10px;
  }
  .nav-brand a {
    font-size: 1.56rem;
  }

  .dropdown {
    padding: 0px 12px;
    background: rgb(241, 104, 104);
  }

  .nav-center {
    padding: 0px;
    margin: 0px;
  }

  .nav-item,
  .nav-link,
  .nav-profile {
    padding: 6px 4px;
  }

  .nav-profile a,
  .nav-center li a {
    font-size: 1.1rem;
  }
}

/* :root {
  --back-color: rgb(10, 63, 8);
  --font-color: #fff;
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  font-family: Georgia, "Times New Roman", Times, serif;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.header-nav {
  background: blue;
  border: 1px solid red;
  margin: 0 auto;
}

.nav-brand {
  font-size: 1.8rem;
  color: var(--font-color);
  font-weight: bold;
}

.nav-brand:hover {
  transform: scale(1.12);
}

.nav-profile {
  color: var(--font-color);
  font-weight: bold;
}

.menu {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
}

.nav-menu {
  display: flex;
  flex-wrap: wrap;
}

.nav-menu li {
  padding: 0 30px;
}

.nav-item {
  color: var(--font-color);
  font-size: 1.275rem;
}


[data-dropdown] {
  position: relative;
}

[data-dropdown] .dropdown-menu {
  display: none;
}

[data-dropdown]:hover .dropdown-menu,
[data-dropdown].active .dropdown-menu {
  display: block;
}

.dropdown-menu {
  position: absolute;
  background: var(--back-color);
  top: 24px;
  padding: 10px 16px;
}

.dropdown-menu li {
  padding: 10px;
}

.dropdown-menu .link-item {
  color: var(--font-color);
  font-size: 1.1rem;
}


.dropdown-menu::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border: 5px solid rgba(3, 121, 23, 0.582);
  box-sizing: border-box;
  clip-path: polygon(0 0, 0 0, 0 0, 0 0);
  animation: border-animation 2s linear forwards;
}

@keyframes border-animation {
  0% {
    clip-path: polygon(0 0, 0 0, 0 0, 0 0);
  }
  25% {
    clip-path: polygon(0 0, 100% 0, 100% 0, 100% 0);
  }
  50% {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 100% 100%);
  }
  75% {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
  100% {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%, 0 0);
  }
} */
