.menu {
  background: var(--nav);
  padding: 10px;
}

.navbar {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}

.nav-center {
  display: flex;
  flex-wrap: wrap;
}

.nav-brand a {
  font-size: 2.25rem;
  font-weight: 100;
  color: #ffe;
}

.nav-brand:hover {
  animation: soft 1s both;
}

.nav-item {
  padding: 0 30px;
}

.nav-link,
.nav-profile {
  font-size: 1.25rem;
  color: #ffe;
  font-weight: 100;
}

[data-dropdown] {
  position: relative;
}

[data-dropdown] .dropdown {
  display: none;
}

[data-dropdown]:hover .dropdown,
[data-dropdown].active .dropdown {
  display: block;
  animation: drop-animation 0.28s forwards;
}

.active-menu {
  color: rgba(255, 255, 238, 0.75);
}

.dropdown {
  position: absolute;
  border: 1px solid black;
  background: var(--dropdown);
  padding: 8px 20px;
  top: 24px;
}

.dropdown li {
  padding: 10px 4px;
}

.dropdown li a {
  color: #ffe;
}

a.nav-link:hover {
  color: rgba(255, 255, 238, 0.24);
}

.dropdown-item:hover {
  color: rgba(255, 255, 238, 0.75);
}

[data-menu="button"] {
  display: none;
}

.dropdown::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
  border: 2px solid transparent;
  box-sizing: border-box;
  clip-path: polygon(0 0, 0 0, 0 0, 0 0);
  animation: border-animation 1s linear forwards,
    color-animation 1s linear forwards;
}
