<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pessoas</title>
    <link rel="stylesheet" href="./css/style.css" />
  </head>
  <body>
    <div id="app">
      <div class="modal-container">
        <div class="modal">
          <div class="modal-header">
            <h2 class="modal-title">Criar</h2>
            <button class="modal-button">X</button>
          </div>
          <div class="modal-body">
            <form class="form-modal">
              <div class="form-control">
                <input-vue
                  id-for="name"
                  name="Nome"
                  type="text"
                  v-model="people.name.value"
                  :error="people.name.error"
                ></input-vue>
              </div>
              <div class="form-control">
                <input-vue
                  id-for="cep"
                  name="CEP"
                  type="text"
                  v-model="people.postalCode.value"
                  :error="people.postalCode.error"
                  maxlength="9"
                ></input-vue>
              </div>
              <div class="form-control address">
                <input-vue
                  id-for="mainaddress"
                  name="Rua"
                  type="text"
                  v-model="people.mainaddress.value"
                  :error="people.mainaddress.error"
                >
                </input-vue>
                <input-vue
                  id-for="neighborhood"
                  name="Bairro"
                  type="text"
                  v-model="people.neighborhood.value"
                  :error="people.neighborhood.error"
                >
                </input-vue>
                <input-vue
                  id-for="number"
                  name="Número"
                  type="text"
                  v-model="people.number.value"
                  :error="people.number.error"
                >
                </input-vue>
                <input-vue
                  id-for="complement"
                  name="Complemento"
                  type="text"
                  v-model="people.complement.value"
                  :error="people.complement.error"
                >
                </input-vue>
              </div>
              <div class="form-control">
                <input-vue
                  id-for="city"
                  name="Cidade"
                  type="text"
                  v-model="people.city.value"
                  :error="people.city.error"
                ></input-vue>
              </div>
              <div class="form-control">
                <input-vue
                  id-for="phone"
                  name="Telefone"
                  type="text"
                  v-model="people.phone.value"
                  :error="people.phone.error"
                  maxlength="15"
                ></input-vue>
              </div>
              <div class="form-control">
                <input-vue
                  id-for="type"
                  name="Tipo"
                  type="text"
                  v-model="people.type.value"
                  :error="people.type.error"
                ></input-vue>
              </div>
            </form>
          </div>
          <button class="modal-save" v-on:click="validateForm()">Salvar</button>
        </div>
      </div>
      <header class="header-nav"></header>
      <table-vue></table-vue>
    </div>
    <script src="./scripts/modules/vue.js"></script>
    <script type="module" src="./scripts/script.js"></script>
  </body>
</html>
