label {
  display: block;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 300;
  font-size: 1.125rem;
}

input {
  height: 20px;
  width: 100%;
  border-radius: 5px;
  border: 1px solid transparent;
  padding: 10px;
  font-size: 1.125rem;
  background: rgba(243, 240, 240, 0.616);
  font-weight: 100;
  display: block;
  position: relative;
}

input:focus {
  outline: none;
  border: 1px solid rgb(172, 138, 138);
  background: #fff;
  padding: 10px;
}

.form-modal {
  display: grid;
  grid-template-columns: 1fr 0.5fr 1fr;
  padding: 25px;
  margin-bottom: 20px;
}

.form-control {
  padding: 10px 30px 10px 10px;
  position: relative;
}

.form-control.address {
  grid-column: span 3;
}

div.address {
  display: grid;
  grid-template-columns: 1fr 1fr 0.5fr 1fr;
  gap: 40px;
}

button.modal-save {
  height: 35px;
  width: 100px;
  color: #fff;
  background: var(--nav);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button.modal-save:hover {
  background: rgba(0, 0, 0, 0.7);
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.7);
}

/* Validations */

.error {
  color: tomato;
  font-size: 0.75rem;
  position: absolute;
  animation: fadeIn 0.6s both;
}
